{% if course %}
    <p class="mb-2"><strong>Курс:</strong> {{ course.name }}</p>
    <p class="mb-2"><strong>Час розсилки:</strong> {{ mailing.mailing_time }}</p>
    <p class="mb-4"><strong>Дні розсилки:</strong> {{ mailing.days_str }}</p>
    <div class="row">
        {% for day in course_days %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
                <div tabindex="0" class="card
                    {% if day.status == 'done' %} border-left-success
                    {% elif day.status == 'missed' %} border-left-danger
                    {% else %} border-left-secondary {% endif %}
                    {% if day.current %} bg-info text-white {% endif %}
                    shadow h-100 py-2"
                     role="button"
                     data-toggle="popover"
                     data-trigger="hover"
                     title={{ day.date }}
                     data-html="true"
                     data-content="
                         <strong>Статус:</strong>
                            {% if day.status == 'done' %} Виконано
                            {% elif day.status == 'missed' %} Пропущено
                            {% else %} Не відправлено {% endif %}<br>
                         <strong>Вправа/комплекс:</strong> {{ day.exercise }}<br>
                         <strong>Пульс до:</strong> {{ day.pulse_before }}<br>
                         <strong>Пульс після:</strong> {{ day.pulse_after }}<br>
                         <strong>Самопочуття до:</strong> {{ day.wellbeing_before }}<br>
                         <strong>Самопочуття після:</strong> {{ day.wellbeing_after }}
                     ">
                    <div class="card-body py-2 text-left pl-2">
                        <span class="font-weight-bold small d-block" style="white-space: nowrap;">
                            {{ day.date }}
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class="text-muted">Курс не знайдено або ще не почато.</p>
{% endif %}
