<!-- Модальне вікно редагування співробітника -->
<div class="modal fade" id="editMotivationModal{{ message.id }}" tabindex="-1" role="dialog"
     aria-labelledby="editMotivationModalLabel{{ message.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" id="editMotivationForm-{{ message.id }}" action="/motivation/edit/{{ message.id }}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editMotivationModalLabel{{ message.id }}">Редагувати повідомлення</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Текст</label>
                        <div id="editor-{{ message.id }}" class="editor-quill" data-target="text-input-{{ message.id }}" data-form-id="editMotivationForm-{{ message.id }}">
                          {{ message.message|safe }}
                        </div>
                        <input type="hidden" name="message" id="text-input-{{ message.id }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
                    <button type="submit" class="btn btn-primary">Зберегти зміни</button>
                </div>
            </div>
        </form>
    </div>
</div>
