{% extends "base.html" %}

{% block title %}Пацієнти{% endblock %}

{% set body_class = "page-to" %}
{% block content %}
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include "partials/sidebar.html" %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include "partials/topbar.html" %}
                <!-- End of Topbar -->
                <div class="container-fluid">
                    {% include "partials/alert.html" %}
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Пацієнти</h1>
                        <button class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
                                data-toggle="modal" data-target="#addPatientModal">
                            <i class="fas fa-plus fa-sm text-white-50"></i> Додати Пацієнта
                        </button>
                        <!-- Modal -->
                        {% include "modals/user/add-user-modal.html" %}
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Ім’я</th>
                                        <th>Прізвище</th>
                                        <th>Телефон</th>
                                        <th>Telegram ID</th>
                                        <th>Дія</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.first_name }}</td>
                                            <td>{{ user.last_name }}</td>
                                            <td>{{ user.phone or '' }}</td>
                                            <td>{{ user.telegram_id }}</td>
                                            <td>
                                                <a href="/users/{{ user.id }}"
                                                   class="btn btn-sm btn-info">Переглянути</a>
                                                <button class="btn btn-sm btn-danger" data-toggle="modal"
                                                        data-target="#deleteModal{{ user.id }}">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        {% include "modals/user/delete-user-modal.html" %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', path='vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', path='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/pagination.js') }}"></script>
{% endblock %}
