<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Home{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='favicon.ico') }}">

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', path='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

    <!-- CDN resources with HTTPS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          rel="stylesheet"
          crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
          rel="stylesheet"
          crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', path='css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.5.2/dist/select2-bootstrap4.min.css"
          rel="stylesheet"
          crossorigin="anonymous">

    {% block head %}{% endblock %}
</head>
<body class="{{ body_class | default('') }}">
    {% block content %}
    <!-- Контент будет вставляться сюда -->
    {% endblock %}

    <!-- Bootstrap core JavaScript (jQuery должен быть ПЕРЕД select2) -->
    <script src="{{ url_for('static', path='vendor/jquery/jquery.min.js') }}"></script>

    <!-- Core plugin JavaScript -->
    <script src="{{ url_for('static', path='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Select2 и Sortable с HTTPS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"
            crossorigin="anonymous"></script>

    <script src="{{ url_for('static', path='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for all pages -->
    <script src="{{ url_for('static', path='js/sb-admin-2.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/alert.js') }}"></script>

    {% block scripts %}{% endblock %}
</body>
</html>